<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Jumga</title>
</head>
<body>
    <div class="approval-container" id="app">
        <nav> 
            <a href="http://localhost:8080"><h3>Jumga</h3></a>
        </nav>
        <img src="dispatch.svg" alt="payment">
        <p class="info" v-if="false">Your accout has been approved and a dispatch rider has been assigned to you.</p>
        <p class="info" v-if="true">Your payment was successful and your order will be shipped soon.</p>
        <a href="http://localhost:8080/shops/myShop" v-if="false">
            <button  @click="$router.push('/shops/myShop')">Proceed to dashboard</button>
        </a>
        <a href="http://localhost:8080/markets" v-if="true">
            <button  @click="$router.push('/markets')">{{name}}</button>
        </a>
 </div>
 <script src="app.js"></script>
</body>
</html>